*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 30px 0;
    font-size: 50px;
    color: white;
}

.para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

.card{
    margin-left: 25%;
    padding: 100px 40px;
    border: 10px solid;
    border-color: white;
    background: pink;
    
}